{% extends 'base.html' %}
{% load static %}


{% block maincontent%}

<h1> Все Банки </h1>

  <div class="row alert alert-secondary">
    <div class="col" >
      <div class="row">
        <div class="col text-center" >

        </div>
        <div class="col text-center">
          название банка
        </div>
      </div>
    </div>
    <div class="col">
       <div class="row">
        <div class="col-6 text-center">
          адрес
        </div>
        <div class="col-4 text-center">
          телефон
        </div>
        <div class="col-2 text-center">
          отделения
        </div>
      </div>
    </div>
  </div>
{% for obj in object_list %}
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col text-center">
          <img height="40" src="/media/{{obj.bank_logo}}">
        </div>
        <div class="col align-self-center text-center">
           {{obj.bank_name}}
        </div>
      </div>
    </div>
    <div class="col">
       <div class="row">
        <div class="col-6 align-self-center text-center">
          {{obj.bank_adress_index}}, {{obj.bank_main_adress}}
        </div>
        <div class="col-4 align-self-center text-center">
          {{obj.bank_phone}}
        </div>
        <div class="col-2 align-self-center text-center">
          ?
        </div>
      </div>
    </div>
  </div>



{% endfor %}




{% endblock %}