{% extends 'base.html' %}
{% load static %}


{% block maincontent%}

<h1> Банки России </h1>

  <div class="row alert alert-secondary bnscapt">
    <div class="col text-center " >
          Банк

    </div>
    <div class="col">
       <div class="row">
        <div class="col-8 text-center">
          адрес
        </div>
        <div class="col-4 text-center">
          телефон
        </div>

      </div>
    </div>
  </div>
{% for obj in object_list %}
  <div class="row brow" >
    <div class="col">
      <div class="row">
        <div class="col">
            <a href="{% url 'bank-id' obj.id %}"><img height="30" src="/media/{{obj.bank_logo}}"></a>
        </div>
        <div class="col">
            <div class="">
                <a class="bank-title" href="{% url 'bank-id' obj.id %}">{{obj.bank_name}}</a>
            </div>
            <div class="stlic">
                Лицензия ЦБ РФ №{{obj.bank_license}}
            </div>
        </div>
      </div>
    </div>
    <div class="col">
       <div class="row">
        <div class="col-8 bank-title-adres">
          {{obj.bank_adress_index}}, {{obj.bank_main_adress}}
        </div>
        <div class="col-4 text-center bank-title-adres">
          {{obj.bank_phone}}
        </div>

      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}